<div class="hbox hbox-auto-xs bg-light col-md-8 " ng-init="
    app.settings.asideFixed = true;
    app.settings.asideDock = false;
    app.settings.container = false;
    app.hideAside = false;
    app.hideFooter = true;" ng-controller="meijiaCtrl">
        
        <div style="margin-bottom: 25px; margin-top: 25px;">
            <div style="margin-top: 2px;padding-left: 20px;padding-right: 20px;">
                <span style="font-size: 18px;">选择数据类别:</span>
                <div class="btn-group dropdown" style="margin-bottom: 2px;">
                    <div style="width: 300px;">
                        <select class="form-control" ng-model="initData.show.cate_id" ng-options="cate.cate_id as cate.cate_name for cate in initData.cates" required ng-change="selectCate(initData.show.cate_id)">
                            <option value="">--选择数据类别--</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-2">
                        <label>选择起始日期：</label>
                        <p class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="sdt" is-open="sopened" datepicker-options="sdateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="sopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <label>选择截止日期：</label>
                        <p class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="edt" is-open="eopened" datepicker-options="edateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="eopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                    <div class="col-md-1">
                         <button type="button" style="margin-top:25px;" class="btn btn-primary" ng-click="getsearchDate(1,20)">日期搜索</button>   
                    </div>
                    <div class="col-md-5"></div>
                    <div class="input-group col-md-2" style="padding-right: 15px;padding-top: 30px;">
                        <input type="text"  class="form-control input-sm no-border rounded padder ng-pristine ng-valid" placeholder="输入标题、描述、内容" ng-model="initData.show.key">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-sm rounded" ng-click="gosearch(initData.show.key,1,20)"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="fileupload">
            <noscript>
                <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
            </noscript>
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <span class="btn btn-default fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>选择图片文件</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                </div>
            </div>
            <table role="presentation" class="table table-striped">
                <tbody class="files"></tbody>
            </table>
        </div>
        

        <div class="wrapper-md">
            <div class="panel panel-default">
                <div class="panel-heading">美甲数据统计</div>
                <div class="table-responsive">
                    <div ng-grid="gridOptions" style="text-align: center;font-size: 14px;"></div>
                </div>
             </div>
        </div>
        <!-- 查看详情 -->
        <div class="modal fade showPost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">查看帖子详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper-md ng-scope">
                            <div class="row">
                                <div class="col-lg-3" ng-repeat="img in initData.show.imgs">
                                    <div class="panel panel-default">
                                        <div class="panel-body"><img class="img-full" src="{{img.url}}" alt=""></div>
                                        <p class="text-center"><label class="label bg-danger m-l-xs">{{$index +1}}</label></p>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">{{initData.show.content}}</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
</div>

<!--图片上传模板-->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" style="height:150px">
        <td>
            <div>
                <ul style="list-style:none;height:100px;width:auto" class="col-sm-6">
                    <li><span class="preview"></span></li>
                    <li><div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div></div></li>
                </ul>
                <ul style="list-style:none" class="col-sm-6">
                    <li >
                        {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn btn-primary start col-sm-12" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>上传</span>
                        </button>
                        {% } %}
                        {% if (!i) { %}
                        <button class="btn btn-default cancel col-sm-12" style="margin-top:12px">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>取消上传</span>
                        </button>
                        {% } %}
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade uplpadimg">
            <td>
            {%=file.upload_date%}
                <span class="preview">
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                </span>
                <input type="hidden" name="pictureId" value={%=file.id%}/>
                <input type="hidden" name="pictureId" value={%=file.url%}/>
            </td>
            <td>
                <button class="btn btn-default cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>删除</span>
                </button>
            </td>
        </tr>
        {% } %}
</script>