/**背景元素颜色**/
/**文字元素颜色**/
/**线框元素颜色**/
/**点击元素颜色**/
/**生成函数**/
/**
*生成箭头函数 >
**/
/**按钮生成函数**/
.color_background {
  color: #f1f1f1 !important;
}
.color_background_step {
  color: #cbcbcb !important;
}
.color_background_header {
  color: #ff436d !important;
}
.color_font_normal {
  color: #363636 !important;
}
.color_font_disabled {
  color: #9c9c9c !important;
}
.color_font_label {
  color: #363636 !important;
}
.color_font_enhance {
  color: #000000 !important;
}
.color_font_error {
  color: #cc3657 !important;
}
.color_font_btn {
  color: #ffffff !important;
}
.color_font_special {
  color: #b8295f !important;
}
.color_font_note {
  color: #f8f6c0 !important;
}
.color_click_normal {
  color: #7accbe !important;
}
.color_click_light {
  color: #ff436d !important;
}
.ofh {
  overflow: hidden;
}
.ofa {
  overflow: auto !important;
}
.background_color {
  background-color: #f1f1f1 !important;
}
.background_color_header {
  background-color: #ff436d !important;
}
.background_color_tips {
  background-color: #f5d870 !important;
}
/** 全局的通用类css **/
.y_label {
  color: #363636;
}
.y_text {
  color: #363636;
}
.fs-1 {
  font-size: 1rem !important;
}
.fs-12 {
  font-size: 1rem;
}
.fs-14 {
  font-size: 1.1666rem !important;
}
.fs-16 {
  font-size: 1.3333rem !important;
}
.fs-18 {
  font-size: 1.5rem !important;
}
.fs-20 {
  font-size: 2rem;
}
.fs-30 {
  font-size: 3rem;
}
.none {
  display: none !important;
}
.abs {
  position: absolute;
}
.relative {
  position: relative;
}
.inlinebl {
  display: inline-block !important;
}
.inline {
  display: inline;
}
.inlinebl-left {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.valign-m {
  vertical-align: middle !important;
}
.valign-t {
  vertical-align: top;
}
.valign-b {
  vertical-align: bottom !important;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.fh {
  height: 100%;
}
.fw {
  width: 100%;
}
.no_border {
  border: none !important;
}
.top_border {
  border-top: 1px solid #cbcbcb !important;
}
.line-2 {
  line-height: 2rem !important;
}
.line-3 {
  line-height: 3rem !important;
}
.line-4 {
  line-height: 4rem !important;
}
.w-full {
  width: 100% !important;
}
.w-a {
  width: auto !important;
}
.w-0 {
  width: 0 !important;
}
.w-1 {
  width: 1rem !important;
}
.w-2 {
  width: 2rem !important;
}
.w-3 {
  width: 3rem !important;
}
.w-4 {
  width: 4rem !important;
}
.w-5 {
  width: 5rem !important;
}
.w-6 {
  width: 6rem !important;
}
.w-9 {
  width: 9rem !important;
}
.w-10 {
  width: 10rem !important;
}
.w-13 {
  width: 13rem !important;
}
.w-11 {
  width: 11rem !important;
}
.w-18 {
  width: 18rem !important;
}
.w-20 {
  width: 20rem !important;
}
.w-25 {
  width: 25rem !important;
}
.h-1 {
  height: 1rem !important;
}
.h-2 {
  height: 2rem !important;
}
.h-3 {
  height: 3rem !important;
}
.h-4 {
  height: 4rem !important;
}
.h-5 {
  height: 5rem !important;
}
.m-0 {
  margin: 0rem !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-4 {
  margin-left: 4rem !important;
}
.ml-5 {
  margin-left: 5rem !important;
}
.ml-6 {
  margin-left: 6rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-0_5 {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.mt-5 {
  margin-top: 5rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}
.mr-5 {
  margin-right: 5rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-min {
  margin-bottom: 6px !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.p-0 {
  padding: 0rem !important;
}
.p-1 {
  padding: 1rem !important;
}
.p-2 {
  padding: 2rem !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}
.pb-5 {
  padding-bottom: 5rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}
.pt-5 {
  padding-top: 5rem !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.pr-3 {
  padding-right: 3rem !important;
}
.pr-4 {
  padding-right: 4rem !important;
}
.pr-5 {
  padding-right: 5rem !important;
}
.pr-0_5 {
  padding-right: 0.5rem !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}
.pl-5 {
  padding-left: 5rem !important;
}
.pl-6 {
  padding-left: 6rem !important;
}
.h-2_5 {
  height: 2.5rem !important;
}
.lh-2 {
  line-height: 2rem !important;
}
.l-7 {
  left: 7rem !important;
}
.lh-2_5 {
  line-height: 2.5rem !important;
}
.lh-3 {
  line-height: 3rem !important;
}
.lh-4 {
  line-height: 4rem !important;
}
.lh-5 {
  line-height: 5rem !important;
}
.l-7 {
  left: 7rem !important;
}
.mw-4 {
  min-width: 4rem !important;
}
.mw-5 {
  min-width: 5rem !important;
}
.hand {
  cursor: pointer;
}
.lh-3 {
  line-height: 3rem !important;
}
.lh-4 {
  line-height: 4rem !important;
}
.lh-5 {
  line-height: 5rem !important;
}
.mw-4 {
  min-width: 4rem !important;
}
.mw-5 {
  min-width: 5rem !important;
}
.hand {
  cursor: pointer;
}
.border_top {
  border-top: 1px solid #cbcbcb;
}
.border_bottom {
  border-bottom: 1px solid #cbcbcb;
}
.border_all {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}
.lh_normal {
  line-height: normal;
}
/** 对于需要垂直居中的inline-block填充标签 **/
.vertical_filler {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
/**全局icon css**/
.y_icon_pin {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: url("imgs/pin.png");
  background-size: 1.4rem 1.4rem;
}
.y_icon_search {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url("imgs/search-icon.png");
  background-size: 2rem 2rem;
}
.y_icon_delete_small {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url("imgs/delete-small-icon.png");
  background-size: 2rem 2rem;
}
/*全局清除浮动代码*/
.y_clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.y_clearfloat {
  zoom: 1;
}
.overflow_hidden {
  overflow: hidden;
}
.time-day-select {
  position: relative;
}
.time-day-select > span {
  display: inline-block;
  vertical-align: middle;
}
.time-day-select .text {
  text-align: center;
  width: auto;
  font-size: 1.4rem;
  color: #363636;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
.time-day-select .prev,
.time-day-select .next {
  width: 3.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  display: inline-block;
  color: #7accbe;
  font-size: 2.5rem;
}
.time-day-select .prev > i,
.time-day-select .next > i {
  position: relative;
  top: -1px;
}
.time-day-select .disable {
  background: url("../../resource/images/icon-angle-right-grey.png") center no-repeat !important;
  background-size: 1.8rem 1.8rem !important;
}
.background_table {
  width: 100%;
  height: 100%;
}
.background_table > tbody > tr > td:first-child {
  width: 15%;
}
.background_table > tbody > tr > td:nth-child(2) {
  width: 70%;
  font-size: 16px;
}
.background_table > tbody > tr > td:nth-child(2) > ul {
  position: relative;
  top: -50px;
  text-align: center;
  font-size: 1.3333rem !important;
  color: #cbcbcb !important;
}
.background_table > tbody > tr > td:nth-child(2) > ul > li > img {
  width: 120px;
  height: 100px;
}
.background_table > tbody > tr > td:nth-child(3) {
  width: 15%;
  text-align: right;
  vertical-align: top;
}
.background_table > tbody > tr > td:nth-child(3) > div:first-child {
  height: 5rem;
  line-height: 5rem;
  margin-right: 1rem;
}
.background_table > tbody > tr > td:nth-child(3) > div:nth-child(2) {
  position: relative;
  margin-right: 2rem;
  top: -1.5rem;
}
.background_table > tbody > tr > td:nth-child(3) > div:nth-child(2) > img {
  width: 48px;
  height: 60px;
}
.y_guide {
  -webkit-box-flex: 1;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: #9c9c9c;
  font-size: 18px;
}
.y_guide .guide_img {
  text-align: center;
  padding-bottom: 6px;
}
.y_guide .guide_img > img {
  width: 123px;
  position: relative;
  right: 6px;
}
.y_guide .guide_text {
  padding-bottom: 6px;
  text-align: center;
}
.y_guide > ul {
  position: relative;
  bottom: 51px;
}
.y_guide_point {
  position: absolute;
  background-image: url(imgs/guide-arrows.png);
  background-size: 48px 60px;
  width: 48px;
  height: 60px;
  display: block;
  top: 42px;
  right: 4px;
  z-index: 1;
}
.wait-tip {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.wait-icon {
  position: absolute;
  left: 50%;
  margin: 10rem auto;
  font-size: 4rem;
  color: #000000;
}
/***********修改 SB Admin 2 模板默认的样式 start**************/
.table > thead {
  background-color: #3d89cc;
  color: #fff;
}
.clear_a_focus {
  background-color: transparent !important;
  color: #fff !important;
}
.modal-dialog > .modal-content {
  overflow: hidden;
}
.modal-dialog > .modal-content > .modal-header {
  background-color: #3d89cc;
  color: #fff;
}
/***********修改 SB Admin 2 模板默认的样式 end**************/
.pt-12px {
  padding-top: 12px !important;
}
