<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;" ng-controller="dakaexpanalyse">


    <div style="margin-top: 12px;width: 300px;margin-left: 20px">
        <span>选择指标：</span>
        <div class="btn-group dropdown" style="margin-bottom: 2px;">
            <button href class="dropdown-toggle" data-toggle="dropdown">
                {{selectKind}} <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInDown">
                <li ng-repeat="cate in cates">
                    <a ng-click="changeCate(cate.id,cate.name)">{{cate.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col" style="width: 100%;">

        <div class="row-row">
            <div class="cell">
                <div class="cell-inner">
                    <div class="wrapper-md pb-0" style="margin-top: 32px">
                        <div class="panel panel-default">
                            <div class="table-responsive ngGrid">
                                <table class="table table-striped m-b-none">
                                    <thead>
                                        <tr>
                                            <th>用户名</th>
                                            <th>数值</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in infos">
                                            <td>{{info.nickname}}</td>
                                            <td>{{info.count}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
