<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;" ng-controller="dakaPlayCtrl">

    <div class="col" style="width: 100%;">

        <tabset class="tab-container">

            <!-- no -->
            <tab>
                <tab-heading>分期播放统计</tab-heading>
                <div class="panel wrapper">
                    <span>期数：</span>
                    <input class="ng-valid ng-valid-number ng-valid-min ng-dirty" min="1" max="85" type="number" style="width:50px;
                    height: 100%; margin-top: 1px; padding: 0 4px;" ng-model="noParams.num"/>
                    <button type="button" class="btn btn-default" style="height: 100%" ng-click="noParams.changeNum()">Go!</button>
                    <label class="i-switch bg-warning pull-right">
                        <input type="checkbox" ng-model="noParams.showSpline">
                        <i></i>
                    </label>
                    <h4 class="font-thin m-t-none m-b text-muted"></h4>
                    <div ui-jq="plot" ui-refresh="noParams.refresh" ui-options="
                      [
                        { data: {{no_result}}, label:'播放数量', points: { show: true, radius: 1}, splines: { show: noParams.showSpline, tension: 0.4, lineWidth: 1, fill: 0.8 } },
                      ],
                      {
                        colors: ['{{app.color.info}}', '{{app.color.primary}}'],
                        series: { shadowSize: 3 },
                        xaxis:{ mode: 'categories', tickLength: 0 },
                        yaxis:{ font: { color: '#a1a7ac' } },
                        grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },
                        tooltip: true,
                        tooltipOpts: { content: '%x : %y',  defaultTheme: false, shifts: { x: 10, y: -25 } }
                      }
                    " style="height:400px;width: 100%" >
                    </div>
                </div>
            </tab>

            <!-- cates -->
            <tab>
                <tab-heading>系列播放统计</tab-heading>
                <div class="row">
                    <div class="btn-group dropdown col-md-4">
                        <button class="btn btn-default dropdown-toggle">请选择分类<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cate in cates">
                                <a ng-click="changeCate(cate.id)">{{cate.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="radio col-md-2">
                        <label class="i-checks">
                            <input type="radio" name="order" ng-model="CateParams.order" value="0">
                            <i></i>
                            日
                        </label>
                    </div>
                    <div class="radio col-md-2">
                        <label class="i-checks">
                            <input type="radio" name="order" ng-model="CateParams.order" value="1">
                            <i></i>
                            周
                        </label>
                    </div>
                    <div class="radio col-md-2">
                        <label class="i-checks">
                            <input type="radio" name="order" ng-model="CateParams.order" value="2">
                            <i></i>
                            月
                        </label>
                    </div>
                </div>
                <div class="panel wrapper">
                    <label class="i-switch bg-warning pull-right">
                        <input type="checkbox" ng-model="CateParams.showSpline">
                        <i></i>
                    </label>
                    <h4 class="font-thin m-t-none m-b text-muted"></h4>
                    <div ui-jq="plot" ui-refresh="CateParams.refresh" ui-options="
                      [
                        { data: {{cate_result}}, label:'上传图片数量', points: { show: true, radius: 1}, splines: { show: CateParams.showSpline, tension: 0.4, lineWidth: 1, fill: 0.8 } },
                      ],
                      {
                        colors: ['{{app.color.info}}', '{{app.color.primary}}'],
                        series: { shadowSize: 3 },
                        xaxis:{ mode: 'time',tickFormatter: myTickFormatter },
                        yaxis:{ font: { color: '#a1a7ac' } },
                        grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },
                        tooltip: true,
                        tooltipOpts: { content: '%x : %y',  defaultTheme: false, shifts: { x: 10, y: -25 } }
                      }
                    " style="height:246px;width: 100%" >
                    </div>
                </div>
            </tab>
        </tabset>

    </div>

</div>
