<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;" ng-controller="dakaQjcCtrl">

    <div class="col" style="width: 100%;">
        <tabset class="tab-container">
            <tab>
                <tab-heading>投票数量统计</tab-heading>
                <div class="panel wrapper">
                    <input class="ngPagerCurrent ng-valid ng-valid-number ng-valid-min ng-dirty" min="1" max="85" type="number" style="width:50px;
                    height: 24px; margin-top: 1px; padding: 0 4px;" ng-model="vote.recentVote">
                    <label class="i-switch bg-warning pull-right">
                        <input type="checkbox" ng-model="vote.showVoteSpline">
                        <i></i>
                    </label>
                    <h4 class="font-thin m-t-none m-b text-muted"></h4>
                    <div ui-jq="plot" ui-refresh="refresh" ui-options="
                      [
                        { data: {{vote_result}}, label:'投票数量', points: { show: true, radius: 1}, splines: { show: vote.showVoteSpline, tension: 0.4, lineWidth: 1,fill: 0} },
                      ],
                      {
                        colors: ['{{app.color.info}}', '{{app.color.primary}}'],
                        series: { shadowSize: 3 },
                        xaxis:{ font: { color: '#507b9b' },minTickSize: 1,tickDecimals: 0 ,axisLabel: '视频最近期数',axisLabelPadding: 5},
                        yaxis:{ font: { color: '#507b9b' },ticks:10,min:0,axisLabel: '投票数量',axisLabelPadding: 5},
                        grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
                        tooltip: true,
                        tooltipOpts: { content: '%x : %y',  defaultTheme: false, shifts: { x: 10, y: -25 } }
                      }
                    " style="height:246px;width: 100%" >
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>上传图片数量统计</tab-heading>
                <div class="panel wrapper">
                    <input class="ngPagerCurrent ng-valid ng-valid-number ng-valid-min ng-dirty" min="1" max="85" type="number" style="width:50px;
                    height: 24px; margin-top: 1px; padding: 0 4px;" ng-model="photo.recentPhoto">
                    <label class="i-switch bg-warning pull-right">
                        <input type="checkbox" ng-model="photo.showPicSpline">
                        <i></i>
                    </label>
                    <h4 class="font-thin m-t-none m-b text-muted"></h4>
                    <div ui-jq="plot" ui-refresh="refreshPic" ui-options="
                      [
                        { data: {{pic_result}}, label:'上传图片数量', points: { show: true, radius: 3}, splines: { show: photo.showPicSpline, tension: 0.4, lineWidth: 1,fill: 0} },
                      ],
                      {
                        colors: ['{{app.color.info}}', '{{app.color.primary}}'],
                        series: { shadowSize: 3 },
                        xaxis:{ font: { color: '#507b9b' },minTickSize: 1,tickDecimals: 0,axisLabel: '视频最近期数'},
                        yaxis:{ font: { color: '#507b9b' },ticks: 10,axisLabel: '上传图片数'},
                        grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
                        tooltip: true,
                        tooltipOpts: { content: '%x : %y',  defaultTheme: false, shifts: { x: 10, y: -25 } }
                      }
                    " style="height:246px;width: 100%" >
                    </div>
               </div>
            </tab>
        </tabset>
    </div>
</div>
