<div class="hbox hbox-auto-xs bg-light col-md-8 " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;" ng-controller="dakaPlayStage">

    <div style="margin-top: 20px">
        <span style="margin-left: 35px">展示期数:</span>
        <input class="ng-valid ng-valid-number ng-valid-min ng-dirty" min="1" max="85" type="number" style="width:50px;
                height: 90%; margin-top: 1px; padding: 3px 4px;" ng-model="noParams.num" ng-keydown="noParams.keyDown()"/>
        <button type="button" class="btn btn-default btn-sm" style="height: 90%;margin-top: -3px" ng-click="noParams.changeNum()">Go!</button>
    </div>
    <div class="col-xs-12">
            <div e-chart ui-options="{
                color: ['#23B7E5'],
                title:{
                    text:'分期播放统计',
                    subtext:'数据来自——美甲大咖',
                    x : 'center',
                },
                tooltip: {
                    show: true,
                    trigger: 'axis',
                    enterable: true,
                },
                toolbox:{
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: true},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                dataZoom:{
                    show:true,
                    realtime:true,
                    start: 10,
                    end: 90,
                    handleColor:'#008acd',
                    dataBackgroundColor:'#efefff',
                },
                legend: {
                    data:['播放数'],
                    x : 'left',
                },
                grid: {
                    y: 80,
                    y2: 160,
                },
                xAxis : [
                    {
                        name : '视频期数',
                        type : 'category',
                        data : {{play_result_x}},
                        nameTextStyle : {fontSize:15},
                        axisLabel:{
                            show: true,
                            rotate: 35,
                        }
                    },
                ],
                yAxis : [
                    {
                        name : '播放数',
                        type : 'value',
                        nameTextStyle : {fontSize:15},
                    }
                ],
                series : [
                    {
                        name:'播放数',
                        smooth: true,
                        type:'line',
                        data:{{play_result_y}},
                        itemStyle:{
                            normal: {
                                lineStyle: {
                                    width: 2,
                                    color: '#23B7E5',
                                    shadowColor : 'rgba(0,0,0,0.5)',
                                    shadowBlur: 10,
                                    shadowOffsetX: 8,
                                    shadowOffsetY: 8,
                                },
                                barBorderRadius: 4,
                                label: {show: true},
                                areaStyle: {type: 'default'},
                            },
                            emphasis:{
                                label: {show: true},
                            },
                        },
                        markPoint:{
                            data:[
                                {type:'max',name:'最大值'},
                                {type:'min',name:'最小值'},
                            ],
                        },
                        markLine:{
                            data:[
                                {type:'average',name:'平均值'}
                            ],
                        },
                    },
                ]
        }" style="height: 500px;" class="col-xs-12"></div>
        </div>
</div>
